apiVersion: apps/v1
kind: Deployment 
metadata:
  name: nexus-deployment
  namespace: bootcamp
  labels:
    app: nexus
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nexus
  template:
    metadata:
      labels:
        app: nexus
    spec:
      # Ensures mounted volumes have the correct group ownership for nexus user
      securityContext:
        fsGroup: 200
      containers:
        - name: nexus
          image: sonatype/nexus3
          imagePullPolicy: IfNotPresent
          securityContext:                                              
             runAsUser: 200 # Run as nexus user
          volumeMounts:
            - name: nexus-storage
              mountPath: /nexus-data # This is a path that the default Nexus Docker image uses for persistent storage
      volumes:
        - name: nexus-storage
          persistentVolumeClaim:
            claimName: nexus-data

