apiVersion: apps/v1 # API-group/version-of-api
# Deployment lives in apps/v1
# Deployment Manages a set of identical Pods
# Ensures a desired number of replicas
# Supports rolling updates and rollbacks
kind: Deployment # This specificies the resource type (It had nothing to do with KinD!)
metadata:
  name: runner-deployment # name of Deployment within the namespace
  namespace: bootcamp
  # Key/value metadata attached to the Deployment
  # Used for: organization selection and automation
  # Not used for anything in this instance
  labels:
    app: runner
spec:
  # Number of pods
  replicas: 1
  # Tell deployment which pods it owns
  selector:
    matchLabels:
      app: runner
  # Every replica in this deployment will be based on this template
  template:
    metadata:
      labels:
        app: runner
    spec:
      containers:
        - name: runner
          #image: real-spring-petclinic-piepline-runner:latest
          image: docker.io/library/real-spring-petclinic-piepline-runner:latest
          imagePullPolicy: Never
          env:
            - name: RUNNER_TOKEN
              valueFrom:
                secretKeyRef:
                  name: runner-secret
                  key: RUNNER_TOKEN
            - name: GITHUB_URL
              valueFrom:
                secretKeyRef:
                  name: runner-secret
                  key: GITHUB_URL
